/* All */
*{
    
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.main-content{
    
    height: 600px;
}
.container{
    width: 80%;
    margin: 0 auto;
    
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
.clearfix{
    clear: both;
    float: none;
}

a{

    text-decoration: none;
}


.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary{
    background-color: #5f27cd;
    color: white;
    cursor: pointer;
}
.btn-primary:hover{
    color: white;
    background-color: #3742fa;
}
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}


/* Header */
.navbar{
    height: 100px;
    background-color: #1B1464;
}
.logo{
    width: 10%;
    float: left;
    
}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
    font-size: 23px;
}
.menu ul li a{
    color: white;
}
.menu ul li a:hover{
    color: #7efff5;
}

/* Food Search Section */

.food-search{
    background-image: url(../images/bg-search.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}


/* Category */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
}


/* Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}

.table-30{
    width: 30%;
}

.table-55{
    width: 55%;
}

.table-full{
    width: 90%;
    border-collapse: collapse;
    margin: 0 auto;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.col-md-4{
    margin: 20px;
    font-size: 20px;
}

/* CSS cho phân trang */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    color: #333;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #aaa;
    color: black;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.pagination a:first-child:hover,
.pagination a:last-child:hover {
    background-color: #ddd;
}

/* CSS cho nút tiến và nút lùi */
.pagination a.prev,
.pagination a.next {
    padding: 8px 12px;
    background-color: #f2f2f2;
}

.pagination a.prev:hover,
.pagination a.next:hover {
    background-color: #ddd;
}

.pagination a.disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: #aaa;
}


/* Footer */
.footer{
    padding-bottom: 10px;
    background-color: #1B1464;
    color: white;
}
.footer a{
    color: white;
}
.social{
    background-color: #1B1464;
    padding-top: 10px;
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}


.background-order{
    background-color: #95afc0;
    border: 1px black solid;
    border-radius: 1%;
    height: 400px;
}
.order{
    width: 80%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

.success{
    color: #2ed573;
}

.error{
    color: #ff4757;
}



/* Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}

/* Toast */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

.toast {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast + .toast {
    margin-top: 24px;
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast__icon {
    padding: 0 16px;
    font-size: 24px;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__body {
    flex-grow: 1;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
}

.toast__close {
    padding: 0 16px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
